[credential]
	helper = /usr/local/bin/git-credential-manager
	credentialStore = gpg
[credential "https://dev.azure.com"]
	useHttpPath = true
[user]
	name = chengx
	email = chengx@morgan-aps.com
[core]
	editor = vi
[init]
	defaultBranch = main
